<%- include ('partials/header') %>

<body>
  <nav class="navbar navbar-expand-lg navbar-light nav-style text-uppercase fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand" href="#landing">Portfolio</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="menu">Menu</span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item mx-0 mx-lg-1 active">
            <a class="nav-link py-3 px-0 px-lg-3 rounded" href="#projects">Projects<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded" href="#about">About</a>
          </li>
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded" href="#contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <section class="colored-section" id="landing">
    <div class="container-fluid">
      <div class="row">
        <img src="/images/cloud.png" alt="" class="float-right">
        <div class="col-lg-12 center-block text-center avatar">
          <img class="rounded-circle" alt="100x100" src="/images/avataaars.svg" data-holder-rendered="true">
        </div>
        <div class="col-lg-12 center-block text-center">
          <h1 class="big-heading mb-2">I'm Blaine</h1>
        </div>

      </div>
      <div class="divider div-transparent div-arrow-down mb-5"></div>


      <div class="col-lg-12 center-block text-center">
        <p class="subheading">Programmer - Engineer - Designer </p>
      </div>
    </div>
    </div>
  </section>

  <section class="white-section" id="projects">
    <div class="container-fluid">
      <h2 class="white-section-heading mb-10 text-center text-uppercase">Portfolio</h2>
      <div class="row mt-5">
        <div class="col-md-12 col-lg-3 center-block text-center d-flex justify-content-center h-100 w-100 align-items-center mb-5 h-100 w-100">
          <div class="card" style="width: 100%;text-align:center;">
            <img src="/images/secret.png" class="img-fluid" height="150" width="150" style="margin:auto" alt="...">
            <div class="card-body flex-fill">
              <h5 class="card-title">Anonymous Posting Site</h5>
              <p class="card-text">Shows all posts without displaying user accounts. Features OAuth2.0, mongoDB, and a high level of authentication and security</p>
              <a href="https://anonposting.herokuapp.com/" class="btn btn-primary">See it live</a>
              <a class="btn btn-outline-light btn-social mx-1" href="https://github.com/B-Mahon/Anon">
                <i class="fab fa-github"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-lg-3 center-block text-center d-flex justify-content-center h-100 w-100 align-items-center mb-5">
          <div class="card" style="width: 100%;">
            <img src="/images/weather.png" class="img-fluid" height="300" width="300" style="margin:auto" alt="...">
            <div class="card-body flex-fill">
              <h5 class="card-title">Weather App</h5>
              <p class="card-text">React weather application that uses OpenWeather API to provide current weather for different area zip codes</p>
              <a href="https://dashboard.heroku.com/apps/blaineweather" class="btn btn-primary">See it live</a>
              <a class="btn btn-outline-light btn-social mx-1" href="https://github.com/B-Mahon/Weather-App">
                <i class="fab fa-github"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-lg-3 center-block text-center d-flex justify-content-center h-100 w-100 align-items-center mb-5">
          <div class="card" style="width: 100%;">
            <img src="/images/networking.png" class="img-fluid" height="400" width="300" style="margin:auto" alt="...">
            <div class="card-body flex-fill">
              <h5 class="card-title white-section-card-title">Simulating TCP and UDP Protcols</h5>
              <p class="card-text">Simulating UDP and TCP networking protcols using python socket programming</p>
              <a class="btn btn-outline-light btn-social mx-1" href="https://github.com/BlaineMcMahon/Network-Design">
                <i class="fab fa-github"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-lg-3 center-block text-center d-flex justify-content-center h-100 w-100 align-items-center mb-5">
          <div class="card" style="width: 100%;">
            <img src="/images/selenium.png" class="img-fluid" height="300" width="300" style="margin:auto" alt="...">
            <div class="card-body flex-fill">
              <h5 class="card-title white-section-card-title">Selenium Web Automation</h5>
              <p class="card-text">Working with the Selenium python package to automate a web application</p>
              <a class="btn btn-outline-light btn-social mx-1" href="https://github.com/BlaineMcMahon/Selenium-Web-Automation-Scripts">
                <i class="fab fa-github"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="green-section">
    <div class="container-fluid mt-5" id="about">
      <h2 class="white-section-heading text-uppercase mb-5">About</h2>
      <div class="row">
        <div class="col-lg-4 ml-auto">
          <p class="info">
            I am self taught full stack web developer.
            Experience using node js, react, mongoDB, HTML, and CSS.
            Knowledge of HTTP standards, API's, REST, web security and authentication. Looking to learn more and get more expierence in web development!
          </p>
        </div>
        <div class="col-lg-4 mr-auto">
          <p class="info">
            I have a bachelors degree in computer engineering from the University of Massachusetts Lowell. I have experience programming using several languages including Python, C, C++. Comfotrable using the command line interfaces such as linux
            and bash scripting.
          </p>
        </div>
        <div class="col-lg-12 text-center mt-4">
          <a class="btn btn-primary btn-lg" href="https://docs.google.com/document/d/1NEvjbnSZ4RqPDBOTfCPJebnwUry2-4AHlVtlLvNdEYI/edit?usp=sharing">
            <i class="fas fa-download mr-2"></i>
            Resume
          </a>
        </div>
      </div>
    </div>
  </section>

  <section class="white-section" id="contact">
    <div class="container-fluid">
      <h2 class="white-section-heading text-center text-uppercase mb-5">Contact Me</h2>
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <form action="/" method="post">
            <div class="control-group">
              <div class="form-group floating-label-form-group controls mb-0 pb-2">
                <label>Name</label>
                <input class="form-control" name="cityName" type="text" placeholder="Name">
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="control-group">
              <div class="form-group floating-label-form-group controls mb-0 pb-2">
                <label>Email Address</label>
                <input class="form-control" name="cityEmail" type="email" placeholder="Email Address" required="required">
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="control-group">
              <div class="form-group floating-label-form-group controls mb-0 pb-2">
                <label>Phone Number</label>
                <input class="form-control" name="cityPhone" placeholder="Phone Number">
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="control-group">
              <div class="form-group floating-label-form-group controls mb-0 pb-2">
                <label>Message</label>
                <textarea class="form-control" id="message" name="cityContent" rows="5" placeholder="Message" required="required" data-validation-required-message="Please enter a message."></textarea>
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <br>
            <div id="success"></div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary btn-xl" id="sendMessageButton">Send</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

  <%- include ('partials/footer') %>
